{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
   
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 2vh;">
            <a href="{{ path('homepage') }}" class="btn btn-primary pull-left">Retour</a>
            <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
        </div>
        <h1>Liste des tâches</h1>
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="pull-right">
                        {% if task.isDone %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
                    </h4>
                    <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                    <p>{{ task.content }}</p>
                </div>
                <div>
                    {%if app.user is not null%}
                        {#Show delete button if the user logged own the task or if the task have no owner and the user logged have role admin #}
                        {% if app.user == task.user or (task.user.username == "ANONYMOUS" and "ROLE_ADMIN" in app.user.roles)%}
                            <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                                <button class="btn btn-success btn-sm pull-right" style="margin:3px;margin-bottom:2vh;">
                                    {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                                </button>
                            </form>
                    
                            <form action="{{ path('task_delete', {'id' : task.id }) }}">
                                <button class="btn btn-danger btn-sm pull-right" style="margin:3px;margin-bottom:2vh;">Supprimer</button>
                            </form>
                        {%endif%}
                    {%endif%}
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
