{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('user_create')}) }}
            <div class="form-group">
                {{ form_label(form.username, "Nom d'utilisateur") }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.password) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email, 'Adresse email') }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
            </div>
            {% if form.roles is defined %}
                <div class="form-group">
                    {{ form_label(form.roles, 'Rôle') }}
                    {{ form_widget(form.roles,{'attr':{'class':'form'}}) }}
                </div>
            {%endif%}
          <a href="{{ path('homepage') }}" class="btn btn-primary">Retour </a>
            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
         
         {{ form_end(form)}}
    </div>
{% endblock %}
